@model Casino.Client.Models.BlackJackViewModel

@using(@Html.BeginForm())
{
<p>Playing Blackjack!</p>
<p>@ViewData["game"]</p>
<p>Your Score: @ViewData["score"]</p>
<p>Dealer Score: @ViewData["dealer"]</p>

string hello = "playin";
    if(Model.Blackjack.status.Equals("playing"))
    {
        <button type="submit" name="submitButton" value="hit">Hit Me</button>
        <button type="submit" name="submitButton" value="stand">Stand</button>
    }
    else
    {
        <button type="submit" name="submitButton" value="play">Play Again</button>
    }

}

