@using Casino.Library.Models;
@model Casino.Client.Models.BlackJackViewModel;
@{
    <main>
    <aside class="col-md-1"></aside>
    <header class="col-md-10 content">
        <p>Bet Your Chips!</p>

        <section class="col-md-12">
            <article class="col-md-3"><h3>Available:</h3><br /><h3>Bet:</h3></article>
                @foreach (var item in @Model.User.UserPocket.AllChips as List<Chips>)
                {
                    if(item.Amount > 0)
                    {
                        <article class="col-md-1">
                            <p>@item.Type</p>
                            <p> @item.Amount</p>
                            <br />
                            <br />
                            <input type="number" name="@item.Type" maxlength="3" size="3" style="color:black">
                        </article>
                    }
                }

        </section>


    </header>
    <aside class="col-md-1"></aside>
</main>
}