@using Casino.Library.Models;
@{
    <main>
    <aside class="col-md-1"></aside>
    <header class="col-md-10 content">
        <p>Bet Your Chips!</p>

        <section class="col-md-12">
            <article class="col-md-3"><h3>Available:</h3><br /><h3>Bet:</h3></article>
            @foreach (var item in ViewData["userChips"] as List<Chips>)
    {
            <article class="col-md-1">
                <p>@item.Type</p>
                <p> @item.Amount</p>
                <br />
                <br />
                <input maxlength="3" size="3" style="color:black">
            </article>
}

        </section>


        <button type="submit" name="submitButton" value="bet">Place Bet</button>
    </header>
    <aside class="col-md-1"></aside>
</main>




    
}