@model Casino.Client.Models.BlackJackViewModel

@using(@Html.BeginForm())
{
<p>Playing Blackjack!</p>
<p>@ViewData["game"]</p>

<button type="submit" value="hit">Hit Me</button>
<button type="submit" value="stand">Stand</button>

}

